*{
    margin: 0;
    padding: 0;
}
body{
    background-color:  #000000;
    color: #ffffff;
    font-family: 'Viaoda Libre', cursive;
    display: block;
}
#container {
    padding: 30px;
    float: left;
}

header{padding: 45px;}
.table-content{
    float: left;
    display: block;
}
.table-content thead{
    text-align: center;
}
.table-content tbody{
    width: 100%;
}
.table-content tr{
    float: left;
    width: 30%;
}